@charset "UTF-8";

/*pc*/
@media screen and (min-device-width: 600px) {

}

/*sp*/
@media screen and (max-device-width: 599px) {

}

#counter {
    position: absolute;
    font-size: 10vh;
    top: 35vh;        
    /* margin: auto; */
    /* vertical-align: middle; */
    text-align: center;
}

html {
    height: 100%;
    width: 100%;   
}

#main {
 
}
