@charset "UTF-8";

/*pc*/
@media screen and (min-device-width: 600px) {

}

/*sp*/
@media screen and (max-device-width: 599px) {

}

#counter {
    position: absolute;
    font-size: 30vh;
    top: 35vh;        
    left: 0;           
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

html {
    height: 100%;
    width: 100%;   
}

main {
    position: relative; /* 2 */
    height: 100%;
    width: 100%;   
}
